/*#region font*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@900&display=swap');

body {
    font-family: 'Heebo', 'Roboto', sans-serif;
    color: #e1dcdc;
}

/*#endregion font*/

/*#region background*/

html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #313131;
}

/*#endregion background*/

/*#region fade in on load*/

* {
    animation: entrance 750ms;
}

@keyframes entrance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*#endregion fade in on load*/

/*#region general formatting*/

* {
    border: 0;
}

input {
    background-color: #e1dcdc;
}

:root {
    --size: 1;
    --gap: 0.5rem;
}

.mineButton {
    --mine-size: calc(((80vh - (var(--size) * var(--gap))) / var(--size)));
    background-color: #e1dcdc;
    width: var(--mine-size);
    aspect-ratio: 1;
    line-height: var(--mine-size);
    text-align: center;
    border-radius: 0.5rem;
}

#minesweeper-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
}

#minesweeper-container > div {
    display: grid;
    max-width: min-content;
    gap: var(--gap);
    grid-template-columns: repeat(var(--size), 1fr);
}

.controls {
    margin: 1rem;
}

.stats {
    min-height: 1.1rem;
    font-size: 1rem;
}

/*#endregion general formatting*/



/*

##===============================##
|| guru meditation; keep it calm ||
##===============================##

*/